@use './utils.scss' as utils;

html {
	height: max-content;
	width: 100%;
	margin: 0;
	font-family: Inter, sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: utils.$foreground;
	background-image: url('./images/background.png');
	background-size: 30px 30px;
	background-color: utils.$background;
}

body {
	height: inherit;
	width: calc(100vw - 50px);
	margin: 0;
	padding: 50px 25px;
	font-family: inherit;
	font-size: inherit;
	text-size-adjust: 100%;
	color: inherit;

	@media (max-width: utils.$ipad) {
		padding: 25px;
	}
}

#root {
	height: inherit;
	width: 80%;
	max-width: calc(100vw - 50px);
	margin: auto;

	@media (max-width: utils.$ipad) {
		width: 100%;
		margin: 0;
	}

	h1 {
		margin: 0;
		font-weight: 500;
		user-select: none;
		-webkit-user-select: none;
	}

	h2 {
		text-align: right;
		font-weight: 300;
		font-size: 20px;
		font-style: oblique;
		text-transform: lowercase;
		user-select: none;
		-webkit-user-select: none;
	}

	h3 {
		font-weight: 300;
		user-select: none;
		-webkit-user-select: none;
	}

	p {
		font-weight: 400;
		user-select: none;
		-webkit-user-select: none;
	}

	a {
		color: inherit;
		user-select: none;
		-webkit-user-select: none;

		@include utils.focus;
	}
}

footer,
header {
	display: grid;
	margin: 0;

	p {
		margin: 0;
		text-align: justify;
	}
}

footer footer a:last-of-type {
	margin-top: 0.83em;
	justify-self: right;
	text-decoration: none;
	font-size: inherit;
	font-style: oblique;
	font-weight: normal;
	user-select: none;
	-webkit-user-select: none;
	cursor: help;
}

main {
	height: fit-content;
	margin: 200px 0;
	text-align: right;
	display: grid;
	gap: 100px;

	@media (max-width: utils.$ipad) {
		margin: 100px 0;
		gap: 50px;
	}
}
