@use './utils.scss' as utils;

.submission {
	width: 80%;
	max-width: 711.11px;
	margin: auto;

	p {
		text-align: right;
		margin: 5px 0;
	}

	h3 {
		margin-bottom: 0;
		font-size: 24px;
	}

	.videos {
		display: grid;
		gap: 25px;

		iframe {
			border: 0;
			margin: auto;

			@include utils.video;
		}
	}

	@media (max-width: utils.$ipad) {
		width: calc(100vw - 50px);
		margin: 0;
	}
}
