// var

$ipad: 812px;
$iphone: 400px;
$background: rgb(230 230 230);
$foreground: rgb(16 16 16);
$highlight: rgb(180 180 180);

// mixins

@mixin focus() {
	&:focus-visible {
		outline: $highlight solid 3px;
	}
}

@mixin video() {
	width: auto;
	max-width: 100%;
	aspect-ratio: 16/9;
	justify-self: center;
	user-select: none;
	-webkit-user-select: none;

	@media (max-width: $ipad) {
		height: auto;
		width: 100%;
	}
}

@mixin highlight-text() {
	::selection {
		background-color: $highlight;
	}
}
